.registered-products img{
  width: 200px;
  height: auto;
}

.product-edit-admin img{
  width: 200px;
  height: 200px;
}

.product-edit-admin{
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.registered-products{
  display: flex;
  gap: 20px;
  text-align: center;
}

.admin-registered-products{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  text-align: center;
  align-items: center;
}

.admin-registered-products img{
  max-height: 200px;
}

.product-edit{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.button-edit{
  padding: 10px 10px;
  background-color: #141414;
  color: #fff;
}

@media (max-width: 700px){
  .admin-registered-products{
    grid-template-columns: 1fr;
  }
}