.payment-main {
  flex: 1;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.img-payment{
  max-width: 200px;
  height: auto;
}

.payment-button{
    padding: 15px 40px;
    background-color: #141414;
    border-radius: 4px;
    color: #fff;
}

.icons-payment img{
  display: inline-block;
}

@media (max-width: 850px){
  .table-payment{
    width: 600px;
    font-size: 15px;
  }

  .icons-payment img{
    width: 100px;
  }

  .img-payment{
    max-width: 150px;
    height: auto;
  }
}

@media (max-width:630px){
  .table-payment{
    width: 400px;
    font-size: 12px;
  }

  .icons-payment img{
    width: 50px;
  }
}

@media (max-width:400px){
  .table-payment{
    width: 300px;
    font-size: 8px;
  }

  .icons-payment img{
    width: 50px;
  }
}

